deepface==0.0.93
emonet_utils==0.3
face_alignment==1.4.1
fer==22.5.1
ffmpeg==1.4
hsemotion==0.3.0
matplotlib==3.9.2
mediapipe==0.10.15
nexa_definitions_and_mappings==1.91
nexa_sentimotion_filename_parser==0.7
numpy==2.1.2
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
pandas==2.2.3
Requests==2.32.3
seaborn==0.13.2
torch==2.2.2
tqdm==4.66.5
